@{
    ViewData["Title"] = "Erişim Reddedildi";
}

<div class="text-center">
    <h1 class="display-4">Erişim Reddedildi</h1>
    <p>Bu sayfaya erişim izniniz yok.</p>
    <a href="@Url.Action("Index", "Home")" class="btn btn-primary">Ana Sayfa</a>
</div>
